.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin-left: 50px;
	margin-right: 50px;
	padding-top:1.5em
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
// not sure if this is the right location for this might need to move later 
.content-container {

	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 1000px;
	margin: 0 auto;
}