//need to clean this up and remove unnecessary styling/incorrectly referenced elements
.main-navigation {
    display: block;
    width: 100%;
    background-color: #005480 !important;

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        list-style: none;
        justify-content: center;

    }

    li {
        position: relative;

        &:hover>a,
        &.focus>a {
           
        }
    }

    a {
        display: block;
        padding: 20px;
        margin: 5px;
        font-size: large;
        font-weight: bold;
        color: white;
        font-size: large;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }

    .current_page_item>a,
    .current-menu-item>a,
    .current_page_ancestor>a,
    .current-menu-ancestor>a {
       
    }
}

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: flex;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
    }

    .nav-links {
        display: flex;
    }

    .nav-previous {
        flex: 1 0 50%;
    }

    .nav-next {
        text-align: end;
        flex: 1 0 50%;
    }
}

.navbar {
    background-color: #005581 !important;
    color: white;

}

.navbar-nav li a {
    font-size: large !important;
    font-weight: bold !important;
    color: white !important;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.navbar-toggler {
    border-color: transparent !important;
}

.offcanvas-body {
    background-color: #1e2939;
}

.offcanvas-header {
    background-color: #1e2939;
}

.navbar-nav li a:hover {
    color: #f0f0f0;
}

.offcanvas-body .navbar-nav li a:hover {
    color: #f0f0f0;
}

.dark-blue-header {
    background-color: #023c5c !important;
    color: white;
    padding: 30px !important;
}