//need to clean this up and remove/move unnecessary elements at some point
html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: var(--bs-body-font-family);
}

body .col {
	display: inline-grid;
}

body {

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: white;

	.site-header {
		background-color: #023c5c;
		min-height: 50px;

	}

	.main-navigation {
		background-color: #22547D !important;
		color: white;
	}

	.site-main {
		height: 100vh;

		.container-fluid {
			text-align: center;

			.col-md-8 {
				margin-bottom: 25px;
				margin-left: auto;
				margin-right: auto;
				text-align: left;

				.fs-4 {
					padding: 10px;
				}
			}
		}
	}

	.site-footer {
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: auto;
		text-align: center;
		background-color: #e0e3e8;
	}

	.navbar-brand {
		margin-left: 20px;
	}

	.row {
		width: max-content;
	}

	.col {
		display: flex;
	}

	.col-auto {
		display: flex;
		padding: 0;
	}

	.nav-bar .nav-item {
		display: flex;
	}

	.navbar-nav .nav-link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: white;
	}

	.navbar-toggler:focus,
	.navbar-toggler:active,
	.navbar-toggler-icon:focus {
		outline: none !important;
		box-shadow: none !important;
		border-color: transparent !important;
	}

	.navbar-toggler {
		border-color: transparent !important;
	}

	.offcanvas-body {
		background-color: #1e2939;
	}

	.offcanvas-header {
		background-color: #1e2939;
	}

	.navbar-nav {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		padding: 0;
	}

	.navbar-nav li {
		list-style: none;
		margin-right: 20px;
	}

	.navbar-nav li:last-child {
		margin-right: 0;
	}

	.main-navigation {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navbar-nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}


}