name: Deploy Theme and WordPress Pages

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    name: Deploy Theme and WordPress Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Transfer Theme Files to Staging Server
      - name: Transfer Theme Files to Staging Server
        uses: easingthemes/ssh-deploy@v5.0.3
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: "-rlgoDzvc -i"
          SOURCE: "./"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: "/var/www/html/wordpress/wp-content/themes/project-team9"
          SCRIPT_BEFORE: ls
      
      # Transfer WordPress Pages to Staging Server
      - name: Transfer WordPress Pages to Staging Server
        uses: easingthemes/ssh-deploy@v5.0.3
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: "-rlgoDzvc -i"
          SOURCE: "team9theme.wordpress.2024-04-09.000.xml"  
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: "/var/www/html/wordpress"
          SCRIPT_BEFORE: |
            mv team9theme.wordpress.2024-04-09.000.xml /var/www/html/wordpress
